body {
  margin: 0;
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont;
}

#app {
  padding: 20px;
}

.display {
  height: 60px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.keypad button {
  background: #1c1c1e;
  color: white;
  font-size: 24px;
  padding: 20px;
  border-radius: 50%;
  border: none;
}

.call {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background: #34c759;
  font-size: 20px;
  border: none;
}

/* INFO SCREEN */
#info-screen {
  position: fixed;
  inset: 0;
  background: #1c1c1e;
  padding: 20px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.info-header span {
  color: #0a84ff;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.info-block {
  margin-bottom: 30px;
}

.info-block p {
  color: #aaa;
  margin-bottom: 5px;
}

.barcode {
  height: 60px;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 2px,
    #fff 2px,
    #fff 4px
  );
  margin-top: 10px;
}